USE [master]
GO
/****** Object:  Database [SuperheroesUniverse]    Script Date: 5/31/2017 1:00:13 AM ******/
CREATE DATABASE [SuperheroesUniverse]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SuperheroesUniverse', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\SuperheroesUniverse.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SuperheroesUniverse_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\SuperheroesUniverse_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SuperheroesUniverse].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SuperheroesUniverse]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 5/31/2017 1:00:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Alignments]    Script Date: 5/31/2017 1:00:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alignments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
 CONSTRAINT [PK_dbo.Alignments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Planets]    Script Date: 5/31/2017 1:00:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Planets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
 CONSTRAINT [PK_dbo.Planets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlanetSuperheroes]    Script Date: 5/31/2017 1:00:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlanetSuperheroes](
	[Planet_Id] [int] NOT NULL,
	[Superhero_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.PlanetSuperheroes] PRIMARY KEY CLUSTERED 
(
	[Planet_Id] ASC,
	[Superhero_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Powers]    Script Date: 5/31/2017 1:00:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Powers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
	[PowerTypeId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Powers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PowerSuperheroes]    Script Date: 5/31/2017 1:00:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PowerSuperheroes](
	[Power_Id] [int] NOT NULL,
	[Superhero_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.PowerSuperheroes] PRIMARY KEY CLUSTERED 
(
	[Power_Id] ASC,
	[Superhero_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PowerTypes]    Script Date: 5/31/2017 1:00:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PowerTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
 CONSTRAINT [PK_dbo.PowerTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Superheroes]    Script Date: 5/31/2017 1:00:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Superheroes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
	[SecretIdentity] [nvarchar](40) NOT NULL,
	[Alignment_Id] [int] NOT NULL,
	[Bio] [ntext] NULL,
 CONSTRAINT [PK_dbo.Superheroes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Alignments] ON 

INSERT [dbo].[Alignments] ([Id], [Name]) VALUES (2, N'Evil')
INSERT [dbo].[Alignments] ([Id], [Name]) VALUES (1, N'Good')
SET IDENTITY_INSERT [dbo].[Alignments] OFF
SET IDENTITY_INSERT [dbo].[Planets] ON 

INSERT [dbo].[Planets] ([Id], [Name]) VALUES (2, N'Asgard')
INSERT [dbo].[Planets] ([Id], [Name]) VALUES (1, N'Earth')
INSERT [dbo].[Planets] ([Id], [Name]) VALUES (3, N'The Multiverse')
SET IDENTITY_INSERT [dbo].[Planets] OFF
INSERT [dbo].[PlanetSuperheroes] ([Planet_Id], [Superhero_Id]) VALUES (1, 1)
INSERT [dbo].[PlanetSuperheroes] ([Planet_Id], [Superhero_Id]) VALUES (1, 2)
INSERT [dbo].[PlanetSuperheroes] ([Planet_Id], [Superhero_Id]) VALUES (1, 3)
SET IDENTITY_INSERT [dbo].[Powers] ON 

INSERT [dbo].[Powers] ([Id], [Name], [PowerTypeId]) VALUES (1, N'Armored Suit', 1)
INSERT [dbo].[Powers] ([Id], [Name], [PowerTypeId]) VALUES (2, N'Genius', 2)
INSERT [dbo].[Powers] ([Id], [Name], [PowerTypeId]) VALUES (3, N'Super strength', 3)
SET IDENTITY_INSERT [dbo].[Powers] OFF
INSERT [dbo].[PowerSuperheroes] ([Power_Id], [Superhero_Id]) VALUES (1, 1)
INSERT [dbo].[PowerSuperheroes] ([Power_Id], [Superhero_Id]) VALUES (2, 1)
INSERT [dbo].[PowerSuperheroes] ([Power_Id], [Superhero_Id]) VALUES (2, 2)
SET IDENTITY_INSERT [dbo].[PowerTypes] ON 

INSERT [dbo].[PowerTypes] ([Id], [Name]) VALUES (8, N'God')
INSERT [dbo].[PowerTypes] ([Id], [Name]) VALUES (2, N'Intelligence')
INSERT [dbo].[PowerTypes] ([Id], [Name]) VALUES (4, N'Magic')
SET IDENTITY_INSERT [dbo].[PowerTypes] OFF
SET IDENTITY_INSERT [dbo].[Superheroes] ON 

INSERT [dbo].[Superheroes] ([Id], [Name], [SecretIdentity], [Alignment_Id], [Bio]) VALUES (1, N'Iron man', N'Tony Stark', 1, NULL)
INSERT [dbo].[Superheroes] ([Id], [Name], [SecretIdentity], [Alignment_Id], [Bio]) VALUES (2, N'The Hulk', N'Bruce Baner', 1, NULL)
INSERT [dbo].[Superheroes] ([Id], [Name], [SecretIdentity], [Alignment_Id], [Bio]) VALUES (3, N'Thor', N'Thor Odinson', 1, NULL)
SET IDENTITY_INSERT [dbo].[Superheroes] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Name]    Script Date: 5/31/2017 1:00:14 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Name] ON [dbo].[Alignments]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Name]    Script Date: 5/31/2017 1:00:14 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Name] ON [dbo].[Planets]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Planet_Id]    Script Date: 5/31/2017 1:00:14 AM ******/
CREATE NONCLUSTERED INDEX [IX_Planet_Id] ON [dbo].[PlanetSuperheroes]
(
	[Planet_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Superhero_Id]    Script Date: 5/31/2017 1:00:14 AM ******/
CREATE NONCLUSTERED INDEX [IX_Superhero_Id] ON [dbo].[PlanetSuperheroes]
(
	[Superhero_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Name]    Script Date: 5/31/2017 1:00:14 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Name] ON [dbo].[Powers]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PowerTypeId]    Script Date: 5/31/2017 1:00:14 AM ******/
CREATE NONCLUSTERED INDEX [IX_PowerTypeId] ON [dbo].[Powers]
(
	[PowerTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Power_Id]    Script Date: 5/31/2017 1:00:14 AM ******/
CREATE NONCLUSTERED INDEX [IX_Power_Id] ON [dbo].[PowerSuperheroes]
(
	[Power_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Superhero_Id]    Script Date: 5/31/2017 1:00:14 AM ******/
CREATE NONCLUSTERED INDEX [IX_Superhero_Id] ON [dbo].[PowerSuperheroes]
(
	[Superhero_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Name]    Script Date: 5/31/2017 1:00:14 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Name] ON [dbo].[PowerTypes]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Alignment_Id]    Script Date: 5/31/2017 1:00:14 AM ******/
CREATE NONCLUSTERED INDEX [IX_Alignment_Id] ON [dbo].[Superheroes]
(
	[Alignment_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Name]    Script Date: 5/31/2017 1:00:14 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Name] ON [dbo].[Superheroes]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PlanetSuperheroes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PlanetSuperheroes_dbo.Planets_Planet_Id] FOREIGN KEY([Planet_Id])
REFERENCES [dbo].[Planets] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlanetSuperheroes] CHECK CONSTRAINT [FK_dbo.PlanetSuperheroes_dbo.Planets_Planet_Id]
GO
ALTER TABLE [dbo].[PlanetSuperheroes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PlanetSuperheroes_dbo.Superheroes_Superhero_Id] FOREIGN KEY([Superhero_Id])
REFERENCES [dbo].[Superheroes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlanetSuperheroes] CHECK CONSTRAINT [FK_dbo.PlanetSuperheroes_dbo.Superheroes_Superhero_Id]
GO
ALTER TABLE [dbo].[Powers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Powers_dbo.PowerTypes_PowerTypeId] FOREIGN KEY([PowerTypeId])
REFERENCES [dbo].[PowerTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Powers] CHECK CONSTRAINT [FK_dbo.Powers_dbo.PowerTypes_PowerTypeId]
GO
ALTER TABLE [dbo].[PowerSuperheroes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PowerSuperheroes_dbo.Powers_Power_Id] FOREIGN KEY([Power_Id])
REFERENCES [dbo].[Powers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PowerSuperheroes] CHECK CONSTRAINT [FK_dbo.PowerSuperheroes_dbo.Powers_Power_Id]
GO
ALTER TABLE [dbo].[PowerSuperheroes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PowerSuperheroes_dbo.Superheroes_Superhero_Id] FOREIGN KEY([Superhero_Id])
REFERENCES [dbo].[Superheroes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PowerSuperheroes] CHECK CONSTRAINT [FK_dbo.PowerSuperheroes_dbo.Superheroes_Superhero_Id]
GO
ALTER TABLE [dbo].[Superheroes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Superheroes_dbo.Alignments_Alignment_Id] FOREIGN KEY([Alignment_Id])
REFERENCES [dbo].[Alignments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Superheroes] CHECK CONSTRAINT [FK_dbo.Superheroes_dbo.Alignments_Alignment_Id]
GO
USE [master]
GO
