**/AssemblyInfo.cs linguist-documentation
Module?1/C#?I?-?Fundamentals/**/*.html linguist-documentation
Module?1/C#?II?-?Advanced/**/*.html linguist-documentation
Module?1/JS?I?-?Fundamentals/exam?18.01.2017/**/*.html linguist-documentation
Module?1/JS?I?-?Fundamentals/exam?18.01.2017/**/**/*.png linguist-documentation
Module?1/CSS/exam?preparation/**/*.html linguist-documentation
Module?1/C#?III?-?OOP/homework?2?due?04.01.2017/Problem?1.?Structure/Point3D.cs linguist-documentation
Module?1/C#?III?-?OOP/homework?2?due?04.01.2017/Problem?3.?Static?class/Point3D.cs linguist-documentation
Module?1/C#?III?-?OOP/homework?2?due?04.01.2017/Problem?4.?Path/Point3D.cs linguist-documentation
Module?1/C#?III?-?OOP/homework?2?due?04.01.2017/Problem?4.?Path/Calculate.cs linguist-documentation
Module?1/C#?III?-?OOP/homework?2?due?04.01.2017/Problem?5.?Generic?class/GenericList.cs linguist-documentation
Module?1/C#?III?-?OOP/homework?2?due?04.01.2017/Problem?6.?Auto-grow/GenericList.cs linguist-documentation
Module?1/C#?III?-?OOP/homework?2?due?04.01.2017/Problem?8.?Matrix/GenericMatrix.cs linguist-documentation
Module?1/C#?III?-?OOP/homework?2?due?04.01.2017/Problem?9.?Matrix?indexer/GenericMatrix.cs linguist-documentation
Module?1/JS?I?-?Fundamentals/homework?2?due?06.01.2017/resources/styles.css linguist-documentation
Module?1/JS?I?-?Fundamentals/homework?3?due?06.01.2017/resources/styles.css linguist-documentation
Module?1/JS?I?-?Fundamentals/homework?4?due?13.01.2017/resources/styles.css linguist-documentation
Module?1/JS?I?-?Fundamentals/homework?5?due?13.01.2017/resources/styles.css linguist-documentation
Module?1/JS?I?-?Fundamentals/homework?6?due?13.01.2017/resources/styles.css linguist-documentation
Module?1/JS?I?-?Fundamentals/homework?7?due?18.01.2017/resources/styles.css linguist-documentation
Module?1/C#?III?-?OOP/exam?OOP?16.01.2016/task_description.html linguist-documentation
Module?2/Unit?Testing/exam_preparation/IntergalacticTravel/* linguist documentation
Module?2/Unit?Testing/exam_16.02.2017/Exam_solution/Skeleton/AcademyPackageManager/PackageManager/* linguist documentation
Module?2/Unit?Testing/Workshop/* linguist documentation
