**/AssemblyInfo.cs linguist-documentation
**/README.md linguist-documentation
**/readme.md linguist-documentation
**/package.json linguist-documentation
**/Help/* linguist-documentation
**/Tests/* linguist-documentation
**/*.png linguist-documentation

Module?1/C#?I?-?Fundamentals/**/*.html linguist-documentation

Module?1/C#?II?-?Advanced/**/*.html linguist-documentation

Module?1/JS?I?-?Fundamentals/exam?18.01.2017/**/*.html linguist-documentation
Module?1/JS?I?-?Fundamentals/exam?18.01.2017/**/**/*.png linguist-documentation

Module?1/CSS/exam?preparation/**/*.html linguist-documentation

Module?1/C#?III?-?OOP/homework?2?due?04.01.2017/Problem?1.?Structure/Point3D.cs linguist-documentation
Module?1/C#?III?-?OOP/homework?2?due?04.01.2017/Problem?3.?Static?class/Point3D.cs linguist-documentation
Module?1/C#?III?-?OOP/homework?2?due?04.01.2017/Problem?4.?Path/Point3D.cs linguist-documentation
Module?1/C#?III?-?OOP/homework?2?due?04.01.2017/Problem?4.?Path/Calculate.cs linguist-documentation
Module?1/C#?III?-?OOP/homework?2?due?04.01.2017/Problem?5.?Generic?class/GenericList.cs linguist-documentation
Module?1/C#?III?-?OOP/homework?2?due?04.01.2017/Problem?6.?Auto-grow/GenericList.cs linguist-documentation
Module?1/C#?III?-?OOP/homework?2?due?04.01.2017/Problem?8.?Matrix/GenericMatrix.cs linguist-documentation
Module?1/C#?III?-?OOP/homework?2?due?04.01.2017/Problem?9.?Matrix?indexer/GenericMatrix.cs linguist-documentation
Module?1/C#?III?-?OOP/exam?OOP?16.01.2016/task_description.html linguist-documentation

Module?1/JS?I?-?Fundamentals/homework?2?due?06.01.2017/resources/styles.css linguist-documentation
Module?1/JS?I?-?Fundamentals/homework?3?due?06.01.2017/resources/styles.css linguist-documentation
Module?1/JS?I?-?Fundamentals/homework?4?due?13.01.2017/resources/styles.css linguist-documentation
Module?1/JS?I?-?Fundamentals/homework?5?due?13.01.2017/resources/styles.css linguist-documentation
Module?1/JS?I?-?Fundamentals/homework?6?due?13.01.2017/resources/styles.css linguist-documentation
Module?1/JS?I?-?Fundamentals/homework?7?due?18.01.2017/resources/styles.css linguist-documentation

Module?2/JS?II?-?OOP/practical_exam_23.02.2017/AppStores/tests/* linguist-documentation

Module?2/Unit?Testing/exam_preparation/IntergalacticTravel/* linguist-documentation
Module?2/Unit?Testing/exam_16.02.2017/Exam_solution/Skeleton/AcademyPackageManager/PackageManager/* linguist-documentation
Module?2/Unit?Testing/Workshop/* linguist-documentation

Module?2/High?Quality?Code?I/homework_1_due_15.03.2017/Formatting?C?Sharp/Dependencies/* linguist-documentation

Module?2/JS?III?-?UI?&?DOM/homework_2_due_17.03.2017/tasks/task-1.html linguist-documentation

Module?2/JS?III?-?UI?&?DOM/exam?prep/exam?22.08.2016/task-1/task/index.html linguist-documentation
Module?2/JS?III?-?UI?&?DOM/exam?prep/exam?22.08.2016/task-1/task/main.css linguist-documentation
Module?2/JS?III?-?UI?&?DOM/exam?prep/exam?22.08.2016/task-1/task/jquery.js linguist-documentation
Module?2/JS?III?-?UI?&?DOM/exam?prep/exam?22.08.2016/task-3/task/handlebars-v4.0.5.js linguist-documentation
Module?2/JS?III?-?UI?&?DOM/exam?prep/exam?22.08.2016/task-3/task/index.html linguist-documentation
Module?2/JS?III?-?UI?&?DOM/exam?prep/exam?22.08.2016/task-3/task/logo.png linguist-documentation
Module?2/JS?III?-?UI?&?DOM/exam?prep/exam?22.08.2016/task-3/task/main.js linguist-documentation
Module?2/JS?III?-?UI?&?DOM/exam?prep/exam?22.08.2016/task-3/task/result.html linguist-documentation
Module?2/JS?III?-?UI?&?DOM/exam?prep/exam?22.08.2016/task-3/task/styles.css linguist-documentation
Module?2/JS?III?-?UI?&?DOM/exam?prep/exam?22.08.2016/task-3/task/styles.styl linguist-documentation

Module?2/JS?III?-?UI?&?DOM/05.?HTML?Templates?-?homework?-?due?24.03.2017/tasks/*.* linguist-documentation

Module?2/JS?III?-?UI?&?DOM/exam?prep/exam?16.08.2016/1.?Autocomplete/task/index.html linguist-documentation
Module?2/JS?III?-?UI?&?DOM/exam?prep/exam?16.08.2016/1.?Autocomplete/task/css/main.css linguist-documentation
Module?2/JS?III?-?UI?&?DOM/exam?prep/exam?16.08.2016/2.?File?explorer/final/*.* linguist-documentation
Module?2/JS?III?-?UI?&?DOM/exam?prep/exam?16.08.2016/2.?File?explorer/task/index.html linguist-documentation
Module?2/JS?III?-?UI?&?DOM/exam?prep/exam?16.08.2016/2.?File?explorer/task/jquery.min.js linguist-documentation
Module?2/JS?III?-?UI?&?DOM/exam?prep/exam?16.08.2016/2.?File?explorer/task/main.css linguist-documentation
Module?2/JS?III?-?UI?&?DOM/exam?prep/exam?16.08.2016/2.?File?explorer/task/main.css linguist-documentation
Module?2/JS?III?-?UI?&?DOM/exam?prep/exam?16.08.2016/3.?Forum/task/index.html linguist-documentation
Module?2/JS?III?-?UI?&?DOM/exam?prep/exam?16.08.2016/3.?Forum/task/sample-1.html linguist-documentation
Module?2/JS?III?-?UI?&?DOM/exam?prep/exam?16.08.2016/3.?Forum/task/sample-2.html linguist-documentation
Module?2/JS?III?-?UI?&?DOM/exam?prep/exam?16.08.2016/3.?Forum/task/main.css linguist-documentation
Module?2/JS?III?-?UI?&?DOM/exam?prep/exam?16.08.2016/3.?Forum/task/load.js linguist-documentation
Module?2/JS?III?-?UI?&?DOM/exam?prep/exam?16.08.2016/3.?Forum/task/handlebars-v4.0.5.js linguist-documentation

Module?2/JS?III?-?UI?&?DOM/practical?exam?28.03.2017/Task-1_Item-lists/task/index_obfuscated.html linguist-documentation
Module?2/JS?III?-?UI?&?DOM/practical?exam?28.03.2017/Task-1_Item-lists/task/index.html linguist-documentation
Module?2/JS?III?-?UI?&?DOM/practical?exam?28.03.2017/Task-1_Item-lists/task/css/main.css linguist-documentation
Module?2/JS?III?-?UI?&?DOM/practical?exam?28.03.2017/Task-2_Spreadsheet/task/index_obfuscated.html linguist-documentation
Module?2/JS?III?-?UI?&?DOM/practical?exam?28.03.2017/Task-2_Spreadsheet/task/index.html linguist-documentation
Module?2/JS?III?-?UI?&?DOM/practical?exam?28.03.2017/Task-2_Spreadsheet/task/jquery-3.2.0.min.js linguist-documentation
Module?2/JS?III?-?UI?&?DOM/practical?exam?28.03.2017/Task-2_Spreadsheet/task/css/main.css linguist-documentation
Module?2/JS?III?-?UI?&?DOM/practical?exam?28.03.2017/Task-3_Tabs/task/index.html linguist-documentation
Module?2/JS?III?-?UI?&?DOM/practical?exam?28.03.2017/Task-3_Tabs/task/sample.html linguist-documentation
Module?2/JS?III?-?UI?&?DOM/practical?exam?28.03.2017/Task-3_Tabs/task/css/tabs.css linguist-documentation
Module?2/High?Quality?Code?II/Workshop/School?System/Task/*.* linguist-documentation

Module?2/Databases/practical?exam?31.05.2017/sql-exam-may-2017/skeleton/superheroes-universe.sql linguist-documentation
Module?2/Databases/practical?exam?31.05.2017/sql-exam-may-2017/skeleton/DATABASES-MAY-2017.md linguist-documentation
