body {
	background-image: url("./target_look.png");
	background-repeat: no-repeat;
	opacity: 1;	
	padding: 0;
	margin: 0;
	font-family: Arial, sans-serif;	
}

table {	
	background-color: #595959;	
	opacity: 0.6;
	width: 304px;
	height: 205px;
}

.ticket-id {
	color: #bbbbbb;
	font-family: Helvetica;
	font-weight: normal;
	font-size: 16px;
	text-align: left;	
	padding-top: 5px;
}

.labels {
	font-style: italic;
	font-size: 11px;
	color: #ffffff;
	border: 1px solid white;
	width: 90px;
}

.personal-details {
	color: #fff2b2;
	font-size: 11px;
	font-weight: lighter;
}

a.personal-details {
	text-decoration: none;
	font-size: 0.65em;
}

.warning {
	color: #ff0000;
	font-weight: bold;
	font-size: 11px;
}

.system-info {
	color: #bcbcbc;
	font-size: 10px;
}

.status {
	color: #e46b1d;
	font-size: 12px;
	font-weight: bold;
}

#user-name:before {
    content: url('./dot.png');
    color: #71b47a;
}
