body {
    font-size: 16px;    
    font-family: ConsolasEmbedded;
    color: #0094ff;
}

p::first-letter {
    font-size: 3em;
    font-family: EdwardianScriptEmbedded;
}

p::first-line {
    font-weight: bold;
}
