* {
	margin: 0px;
	padding: 0px;
}

#root {
  width: 960px;
  height: 828px;
  font-size: 18px;
  background-color: #ccc;
  display: block;
  margin: 7px 6px 15px 6px;
  padding: 0px;
}

h1 {
	font-size: 1.6em;
	text-align: center;	
}

img {
	display: none;
}