* {
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
	font-size: 100%;	
}

h1, h2, h3, h4, h5, h6 {
	font-family: Sans-Serif;
}

h1 {	
	font-size: 2em;
	color: LightGoldenRodYellow;
	padding: 0.5em;
}

h2 {	
	font-size: 1.75em;
	color: LightYellow;
	padding: 0.2em;
}

h3 {	
	font-size: 1.44em;
	color: PaleGoldenRod;
	padding: 0.6em;
}

h4 {	
	font-size: 1.11em;
	color: GoldenRod;
	padding-left: 1em;
}

h5 {	
	font-size: 1em;
	color: Gold;	
	padding-left: 2em;
}

h5 + span.javascript-code {
	font-size: smaller;
	display: inline-block;
	margin-left: 3em;
	margin-top: 0.11em;
	margin-bottom: 0.11em;
	
}

article {
	font-family: Sans-Serif;
	font-size: 0.67em;
	color: Silver;
	padding: 4em;	
	border-top: 1px solid Orange;
}

article > p {
	padding-left: 1em;
}

article > ul {
	padding-left: 3em;
	padding-top: 0.33em;
	Padding-bottom: 0.33em;
}

article > ul > li > ul {
	padding-left: 1.75em;
	padding-top: 0.5em;
	padding-bottom: 0.35em;
}

strong {	
	font-size: 1.1em;
	font-weight: bold;
	color: Orange;
}

.javascript-code {
	display: inline-block;
	font-family: "Lucida Console", Monaco, Monospace;
	background-color: #0e2a1b;
	font-size: 1em;	
	letter-spacing: 0.15em;
	color: PaleGreen;
	padding: 0.33em;
	padding-left: 0.67em;
	padding-right: 1.33em;
	margin: 1em;
	margin-left: 2em;	
}

span.javascript-code {	
	margin: 0.67em 0 0 0;	
	padding-left: 0.67em;
	padding-right: 1.33em;	
}

div.test-item {
	display: inline-block;
	margin: 1em;
	padding: 1em;
	background-color: #0f0f0f;	
	border-radius: 0.5em;	
}