<h1>Self Manager</h1>
<section>
	<header>
		<h2>this is the home page</h2>
	</header>
		<article>
			JavaScript Applications Workshop
		</article>
	<footer>
		Telerik Academy - Fall Season 2016-2017
	</footer>
</section>
